# API Backend URL
NEXT_PUBLIC_API_URL=http://localhost:3001

# Google Auth
GOOGLE_CLIENT_ID="your-google-client-id"

# Map & Geocoding
NEXT_PUBLIC_MAPBOX_TOKEN="your-mapbox-token"
NEXT_PUBLIC_2GIS_API_KEY="your-2gis-api-key"
